
body{
    background-color: black;

}

#page-wrap{
  font-family: sans-serif;
  font-size: 12pt;
  font-weight: normal;
  background-image:url("images/backgroundCurtain.png");
  background-repeat:no-repeat;
  margin:0 auto;
  width:1324px;
  height: 1000px;
  position:absolute;
}

header{
  width:100%;
  margin-top: 250px;

}

h1{
  text-align: center;
  color: white;
  font-style: bold;
  font-family: impact;
  font-size: 32px;
  display:block;
  width: 100%;
}

#imagePlusBorder{
  text-align:center;
  display:block;
  width:1324px;
  height: 1000px;
  margin: 0 auto;

}

#imgHolder1{
  display: inline;
  height: 125%;
  width: auto;
  margin-left:100px;
  margin-top: -100px;
}

#imgHolder2{
  display: inline;
  height: 125%;
  width: auto;
}

#imgHolder3{
  display: inline;
  margin-top: 0px;
  margin-left:0px;
  height: 125%;
  width: auto;
}
canvas{
  martin-top: 200px;
}


input[name=buttons]{
  display: none;
  width: 20%;
  height: 30px;
  text-align: center;
  line-height:50%;
  border: white 2px;
  background-color: #2f9aa5;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

input:hover[name=buttons]{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)

    }

#listItems {
}

#posterFrames {
  display: inline-block;
  float: left;
  margin-top: 30px;
  margin-left: 150px;
  position: relative;
  z-index: 999;

}
