*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: normal;
    width: 100%;
    margin: 0 auto;
    background-color: #212121;
        }

#page-wrap{
  background-image:url("images/curtainExtension.png");
  background-repeat:repeat-y;
  margin: 0 auto;
  width: 1320px;
  height: 1024px;
}

h1{
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: lighter;
  font-family: 'Acme';
  font-size: 60px;
  margin: 0 auto;
}
p{
font-size: 24px;
}

#imagePlusBorder{
  text-align:center;
  display:block;
  position:relative;
  width:1320px;
  margin: 0 auto;
  margin-top: 60px;
  z-index: 100;
}

#frames{
  position: absolute;
  width:1320px;
  margin: 0 auto;
}

#images{
  width:880px;
  margin: 0 auto;
  margin-top: 65px;
  display: inline-block;
  z-index: 1000;
}

#imgHolder1{
  float:left;
  margin-left:0px;
  width: 220px;
  height: auto;
}

#imgHolder2{
  margin-left:0px;
  width: 220px;
  height: auto;
}

#imgHolder3{
  float:right;
  margin-left: 0px;
  width: 220px;
  height: auto;
}

chartStuff{
  width: 100%;
  margin: 0 auto;
}

#percentageChart, #resultsChart{
  display: inline-block;
  width: 500px;
  height: 400px;
  margin-left: 110px;
  margin-top: 100px;
}

input[name=buttons]{
  display: none;
  width:200px;
  height: 40px;
  line-height:50%;
  background-color: #611213;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  animation-name: buttonEffects;
  animation-duration: 1s;
}
#resetButton{
  display: none;
  position: absolute;
  margin-left:550px;
  top: 620px;
}
#getResultsButton{
  position: absolute;
  display: none;
  margin-left:450px;
  top: 700px;
}
#tryMoreButton{
  position: absolute;
  display: none;
  margin-left:680px;
  top: 700px;
}


input[name=buttons]:hover{
    background-color: #73f73c;
}

@keyframes buttonEffects{
    from{margin-left: -1000px;}
    to{margin-top: 0px;}
}


input:hover[name=buttons]{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
    }

/*#popcorn{
    position: absolute;
    animation-name: popcorn1;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.42, 0, .58, 1);
    margin-left: -800px;
    margin-top: 1000px;
  }*/


footer{
  top: 0px;
  width: 100%;
  margin-top: 800px;
  position: absolute;
}
#projector{
    position: relative;
    margin-top: 0px;
    margin-left: 150px;
    float:left;
    z-index:10;
}
/*#light{
  position: relative;
  margin-top: -510px;
  margin-left: 335px;
  margin-bottom: 240px;
  z-index:1;
}*/

#reel1{
  position: relative;
  margin-left: -240px;
  margin-bottom: 250px;
  margin-top: -115px;
  animation: spin 4s linear infinite;
}
#reel2{
  margin-left: -20px;
  margin-top: -450px;
  margin-bottom: 255px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}
